{% load url from future %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Librement{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block css %}
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/librement.css" %}" rel="stylesheet">
    {% endblock %}
  </head>

  <body class="{% block body_class %}{% endblock %}">

    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <a class="brand" href="{% url "static:landing" %}">Librement</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><a href="{% url "static:landing" %}">Home</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      {% block content %}{% endblock %}
    </div>

  </body>
</html>
