{% extends "base/base.html" %}

{% block content %}

<div class="row">
  <div class="span4 offset4 well">
    <legend>Forgot password</legend>
    {% if form.email.errors %}
    <div class="alert alert-error">
        {% for x in form.email.errors %}{{ x }}{% endfor %}
    </div>
    {% endif %}
    <form method="POST" action="">
      {% csrf_token %}
      <input type="text" class="span4" name="{{ form.email.html_name }}" value="{{ form.email.value|default:"" }}" placeholder="Email">
      <button type="submit" name="submit" class="btn btn-primary btn-block">Reset password</button>
    </form>
  </div>
</div>


{% endblock %}
