{% extends "base/base.html" %}

{% block content %}

<div class="row">
  <div class="span4 offset4 well">
    <legend>Reset password</legend>
    {% if form.errors %}
    <div class="alert alert-error">
        {% for x in form.password.errors %}{{ x }}{% endfor %}
        {% for x in form.password_confirm.errors %}{{ x }}{% endfor %}
    </div>
    {% endif %}
    <form method="POST" action="">
      {% csrf_token %}
      <input type="password" class="span4" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}" value="{{ form.password.value|default:"" }}" placeholder="Password">
      <input type="password" class="span4" id="{{ form.password_confirm.id_for_label }}" name="{{ form.password_confirm.html_name }}" value="{{ form.password_confirm.value|default:"" }}" placeholder="Confirm password">
      <button type="submit" name="submit" class="btn btn-primary btn-block">Reset password</button>
    </form>
  </div>
</div>


{% endblock %}
