#!/usr/bin/make -f

export PYTHONDONTWRITEBYTECODE = 1

%:
	dh $@ --with python2

override_dh_install:
	dh_install -Xgit.log -X.pyc -X.sqlite

override_dh_auto_test:
	src/librement/manage.py test --verbosity=2

override_dh_auto_build:
	debian/generate_hashes src/media > src/librement/settings/hashes.py
	echo "from roles.live import *" > src/librement/settings/role.py
