{% extends "profile/edit/base.html" %}

{% block profile_edit_account %}active{% endblock %}

{% block edit_profile %}

<form method="POST" action="" class="form-horizontal">
  {% csrf_token %}

  <div class="control-group {% if form.user.errors.first_name or form.user.errors.last_name %}error{% endif %}">
    <label class="control-label" for="{{ form.user.first_name.id_for_label }}">Name</label>
    <div class="controls">
      <input type="text" id="{{ form.user.first_name.id_for_label }}" name="{{ form.user.first_name.html_name }}" placeholder="First name" value="{{ form.user.first_name.value|default:"" }}">
      <input type="text" id="{{ form.user.last_name.id_for_label }}" name="{{ form.user.last_name.html_name }}" placeholder="Last name" value="{{ form.user.last_name.value|default:"" }}">
      <span class="help-inline">
        {% for x in form.user.errors.first_name %}{{ x }}{% endfor %}
        {% for x in form.user.errors.last_name %}{{ x }}{% endfor %}
      </span>
    </div>
  </div>

  <div class="control-group {% if form.profile.errors.organisation %}error{% endif %} {% if form.profile.account_type.value == "individual" %}hide{% endif %}">
    <label class="control-label" for="{{ form.profile.organisation.id_for_label }}">Organisation</label>
    <div class="controls">
      <input type="text" id="{{ form.profile.organisation.id_for_label }}" name="{{ form.profile.organisation.html_name }}" placeholder="Organisation" value="{{ form.profile.organisation.value|default:"" }}">
      <span class="help-inline">
        {% for x in form.profile.errors.organisation %}{{ x }}{% endfor %}
      </span>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Address</label>
    <div class="controls">
      <input type="text" id="{{ form.profile.address_1.id_for_label }}" name="{{ form.profile.address_1.html_name }}" placeholder="Address" value="{{ form.profile.address_1.value|default:"" }}">
      <span class="help-inline">
        {% for x in form.profile.errors.address_1 %}{{ x }}{% endfor %}
      </span>
      <br>
      <br>
      <input type="text" id="{{ form.profile.address_2.id_for_label }}" name="{{ form.profile.address_2.html_name }}" placeholder="Address" value="{{ form.profile.address_2.value|default:"" }}">
      <span class="help-inline">
        {% for x in form.profile.errors.address_2 %}{{ x }}{% endfor %}
      </span>
      <br>
      <br>
      <input type="text" id="{{ form.profile.city.id_for_label }}" name="{{ form.profile.city.html_name }}" placeholder="City" value="{{ form.profile.city.value|default:"" }}">
      <span class="help-inline">
        {% for x in form.profile.errors.city %}{{ x }}{% endfor %}
      </span>
      <br>
      <br>
      <input type="text" id="{{ form.profile.region.id_for_label }}" name="{{ form.profile.region.html_name }}" placeholder="State/region" value="{{ form.profile.region.value|default:"" }}">
      <span class="help-inline">
        {% for x in form.profile.errors.region %}{{ x }}{% endfor %}
      </span>
      <br>
      <br>
      <input type="text" id="{{ form.profile.zipcode.id_for_label }}" name="{{ form.profile.zipcode.html_name }}" placeholder="Zipcode" value="{{ form.profile.zipcode.value|default:"" }}">
      <span class="help-inline">
        {% for x in form.profile.errors.zipcode %}{{ x }}{% endfor %}
      </span>
    </div>
  </div>

  <div class="control-group {% if form.profile.errors.country %}error{% endif %}">
    <label class="control-label" for="{{ form.profile.country.id_for_label }}">Country</label>
    <div class="controls">
      <select name="{{ form.profile.country.html_name }}" id="{{ form.profile.country.id_for_label }}" class="span4">
        {% for enum,display in form.profile.fields.country.choices %}
          <option value="{{ enum.slug }}" {% if form.profile.country.value == enum %}selected="selected"{% endif %}>{{ display }}</option>
        {% endfor %}
      </select>
      <span class="help-inline">
        {% for x in form.profile.errors.country %}{{ x }}{% endfor %}
      </span>
    </div>
  </div>

  <div class="well">
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>

{% endblock %}
