{% extends "base/base.html" %}

{% load url from future %}

{% block content %}

<h1 class="page-header">Edit profile</h1>

<ul class="nav nav-pills">
  <li class="{% block profile_edit_basic %}{% endblock %}"><a href="{% url "profile:edit" %}">Basic information</a></li>
  <li class="{% block profile_edit_url %}{% endblock %}"><a href="{% url "profile:edit-url" %}">URL</a></li>
  <li class="{% block profile_edit_links %}{% endblock %}"><a href="{% url "profile:links:view" %}">Links</a></li>
</ul>

{% block edit_profile %}{% endblock %}


{% endblock %}
