{% extends "profile/edit/base.html" %}

{% load url from future %}

{% block profile_edit_url %}active{% endblock %}

{% block edit_profile %}

<form method="POST" action="" class="form-horizontal">
  {% csrf_token %}

  <div class="control-group {% if form.errors.password_old %}error{% endif %}">
    <label class="control-label" for="{{ form.password_old.id_for_label }}">Current password</label>
    <div class="controls">
      <input type="password" id="{{ form.password_old.id_for_label }}" name="{{ form.password_old.html_name }}" value="{{ form.password_old.value|default:"" }}" placeholder="Current password">
      <span class="help-inline">
        {% for x in form.errors.password_old %}{{ x }}{% endfor %}
      </span>
    </div>
  </div>

  <div class="control-group {% if form.errors.password or form.errors.password_confirm %}error{% endif %}">
    <label class="control-label" for="{{ form.password.id_for_label }}">New password</label>
    <div class="controls">
      <input type="password" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}" value="{{ form.password.value|default:"" }}" placeholder="Password">
      <span class="help-inline">
        {% for x in form.errors.password %}{{ x }}{% endfor %}
      </span>
      <br>
      <br>
      <input type="password" id="{{ form.password_confirm.id_for_label }}" name="{{ form.password_confirm.html_name }}" value="{{ form.password_confirm.value|default:"" }}" placeholder="Confirm password">
      <span class="help-inline">
        {% for x in form.errors.password_confirm %}{{ x }}{% endfor %}
      </span>
    </div>
  </div>

  <div class="well">
    <button type="submit" class="btn btn-primary">Change password</button>
  </div>
</form>

{% endblock %}
