{% extends "base/base.html" %}

{% load url from future %}

{% block content %}

<div class="row">

  <div class="span8">

    <h1 style="font-size: 50px">
      {{ user.profile.display_name }}
      <small>
      {% switch user.profile.account_type %}
        {% case "individual" %}
          Individual
        {% endcase %}
        {% case "non_profit" %}
          Non-profit
        {% endcase %}
        {% case "company" %}
          Company
        {% endcase %}
      {% endswitch %}
      {% if request.user == user %}
        <a href="{% url "profile:edit" %}">[edit profile]</a>
      {% endif %}
      </small>
    </h1>

    <br>

    <div class="row">
      <div class="span2">
        {% if user.profile.picture.exists %}
          <img src="{{ user.profile.picture.thumbnail.url }}" height="150" width="150">
        {% else %}
          <img src="{% static "img/profile_picture_placeholder.png" %}">
        {% endif %}
      </div>
      <div class="span6">
        {% if user.profile.biography %}
          {{ user.profile.biography|linebreaksbr }}
        {% endif %}

      </div>
    </div>
  </div>

  <div class="span4">
    <br>
    <br>

    {% if user.links.exists %}

    <h3>Links</h3>

    <ul class="unstyled">
      {% for link in user.links.all %}
      <li><a href="{{ link.url }}" rel="nofollow">{{ link.title }}</a></li>
      {% endfor %}
    </ul>

    {% endif %}
  </div>
</div>

{% endblock %}
